In [1]:
import pandas as pd

In [3]:
df =  pd.read_csv("filmes_filtrados_sem_nulos.csv")

In [4]:
df.head(1)

,id,title,genres,original_language,popularity,release_date,budget,revenue,runtime,status,vote_average,vote_count
0,615656,Meg 2: The Trench,Action-Science Fiction-Horror,en,8763.998,2023-08-02,129000000.0,352056482.0,116.0,Released,7.079,1365.0

In [4]:
colunas_indesejadas = [
    'overview',
    'production_companies',
    'tagline',
    'credits',
    'keywords',
    'poster_path',
    'backdrop_path',
    'recommendations',
]
# dropping unnecesary title 
df = df.drop(colunas_indesejadas, axis=1)


df.shape

(722317, 12)

In [5]:
# Are there any missing values?
df.isnull().sum()

id                        0
title                     6
genres               210317
original_language         0
popularity                0
release_date          51549
budget                    0
revenue                   0
runtime               34335
status                    0
vote_average              0
vote_count                0
dtype: int64

In [6]:
# Existem valores duplicados?
print(df.duplicated().sum())

# Removendo os valores duplicados
df.drop_duplicates(inplace=True)

# Existem valores duplicados?
print(df.duplicated().sum())

62
0

In [7]:
# Verifica quantos filmes duplicados existem considerando 'title' e 'release_date'
print(df[['title','release_date']].duplicated().sum())

# Remove os filmes duplicados com base em 'title' e 'release_date'
df.drop_duplicates(subset=['title','release_date'], inplace=True)

# Verifica novamente se ainda existem duplicatas
print(df[['title','release_date']].duplicated().sum())

df.shape

62097
0

(660158, 12)

In [8]:
# Filtra apenas os filmes com status 'Released'
df = df[df['status'] == 'Released']

# Exibe o novo formato do dataframe após o filtro
df.shape

(655495, 12)

In [9]:
# Filtrando apenas os filmes com pelo menos 10 votos
df1 = df[df.vote_count >= 10].reset_index(drop=True)
# Exibe informações sobre o novo DataFrame filtrado
df1.info()
# Exibe o formato do DataFrame filtrado
df1.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67745 entries, 0 to 67744
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 67745 non-null  int64
 1   title              67745 non-null  object
 2   genres             67050 non-null  object
 3   original_language  67745 non-null  object
 4   popularity         67745 non-null  float64
 5   release_date       67736 non-null  object
 6   budget             67745 non-null  float64
 7   revenue            67745 non-null  float64
 8   runtime            67726 non-null  float64
 9   status             67745 non-null  object
 10  vote_average       67745 non-null  float64
 11  vote_count         67745 non-null  float64
dtypes: float64(6), int64(1), object(5)
memory usage: 6.2+ MB

(67745, 12)

In [10]:
# Verifica a quantidade de valores ausentes (NaN) em cada coluna do DataFrame df1
df1.isnull().sum()

id                     0
title                  0
genres               695
original_language      0
popularity             0
release_date           9
budget                 0
revenue                0
runtime               19
status                 0
vote_average           0
vote_count             0
dtype: int64

In [11]:
# Remove linhas com valores ausentes nas colunas 'genres', 'release_date' e 'runtime'
df1.dropna(subset=['genres','release_date','runtime'], how='any', inplace=True)

# Verifica novamente a quantidade de valores ausentes em cada coluna
df1.isnull().sum()

id                   0
title                0
genres               0
original_language    0
popularity           0
release_date         0
budget               0
revenue              0
runtime              0
status               0
vote_average         0
vote_count           0
dtype: int64

In [12]:
# Remover linhas onde budget ou revenue são 0
df1 = df1[(df1['budget'] != 0) & (df1['revenue'] != 0)]
df1.shape

(8581, 12)

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8581 entries, 0 to 67707
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 8581 non-null   int64
 1   title              8581 non-null   object
 2   genres             8581 non-null   object
 3   original_language  8581 non-null   object
 4   popularity         8581 non-null   float64
 5   release_date       8581 non-null   object
 6   budget             8581 non-null   float64
 7   revenue            8581 non-null   float64
 8   runtime            8581 non-null   float64
 9   status             8581 non-null   object
 10  vote_average       8581 non-null   float64
 11  vote_count         8581 non-null   float64
dtypes: float64(6), int64(1), object(5)
memory usage: 871.5+ KB

In [14]:
df1.shape

(8581, 12)

In [ ]:
#df1.to_csv('filmes_filtrados_sem_nulos.csv', index=False)